Frontend/WPF.NET_Templates/WPF.NET_Templates/Connected Services/ServiceStorageManger/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Base_service" />
  <xs:element name="ListStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Base_service" minOccurs="0" name="ListStockResult" nillable="true" type="q1:Response_Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>