Frontend/FrontendWPF/FrontendWPF/Connected Services/StockService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Base_service.JsonClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Base_service.JsonClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response_Stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stocks" nillable="true" type="tns:ArrayOfStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response_Stock" nillable="true" type="tns:Response_Stock" />
  <xs:complexType name="ArrayOfStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stock" nillable="true" type="tns:Stock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStock" nillable="true" type="tns:ArrayOfStock" />
  <xs:complexType name="Stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
  <xs:complexType name="Response_Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response_Product" nillable="true" type="tns:Response_Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Response_SalePurchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesPurchases" nillable="true" type="tns:ArrayOfSalePurchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response_SalePurchase" nillable="true" type="tns:Response_SalePurchase" />
  <xs:complexType name="ArrayOfSalePurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalePurchase" nillable="true" type="tns:SalePurchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalePurchase" nillable="true" type="tns:ArrayOfSalePurchase" />
  <xs:complexType name="SalePurchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalePurchase" nillable="true" type="tns:SalePurchase" />
</xs:schema>