FrontendWPF/FrontendWPF/Connected Services/LocationService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Base_service.JsonClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Base_service.JsonClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response_Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfStore" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response_Location" nillable="true" type="tns:Response_Location" />
  <xs:complexType name="ArrayOfStore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Store" nillable="true" type="tns:Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStore" nillable="true" type="tns:ArrayOfStore" />
  <xs:complexType name="Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Store" nillable="true" type="tns:Store" />
  <xs:complexType name="Response_Region">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regions" nillable="true" type="tns:ArrayOfRegion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response_Region" nillable="true" type="tns:Response_Region" />
  <xs:complexType name="ArrayOfRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Region" nillable="true" type="tns:Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegion" nillable="true" type="tns:ArrayOfRegion" />
  <xs:complexType name="Region">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfStore" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
</xs:schema>