Frontend/WPF.NET_Templates/WPF.NET_Templates/Connected Services/ServiceReference3/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Base_service" />
  <xs:element name="ListUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="limit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Base_service" minOccurs="0" name="ListUserResult" nillable="true" type="q1:Response_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Base_service" minOccurs="0" name="LoginUserResult" nillable="true" type="q2:Response_Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permission" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permission" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="active" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>