Frontend/FrontendWPF/FrontendWPF/Connected Services/LocationService/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3002/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3002/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3002/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Base_service.JsonClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationService_AddLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_AddLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_AddRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRegion" />
  </wsdl:message>
  <wsdl:message name="ILocationService_AddRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_ListLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_ListLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_ListRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRegion" />
  </wsdl:message>
  <wsdl:message name="ILocationService_ListRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_RemoveLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_RemoveLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_RemoveRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRegion" />
  </wsdl:message>
  <wsdl:message name="ILocationService_RemoveRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_UpdateLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocation" />
  </wsdl:message>
  <wsdl:message name="ILocationService_UpdateLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_UpdateRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegion" />
  </wsdl:message>
  <wsdl:message name="ILocationService_UpdateRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegionResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationService">
    <wsdl:operation name="AddLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/AddLocation" message="tns:ILocationService_AddLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/AddLocationResponse" message="tns:ILocationService_AddLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/AddRegion" message="tns:ILocationService_AddRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/AddRegionResponse" message="tns:ILocationService_AddRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/ListLocation" message="tns:ILocationService_ListLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/ListLocationResponse" message="tns:ILocationService_ListLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/ListRegion" message="tns:ILocationService_ListRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/ListRegionResponse" message="tns:ILocationService_ListRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/RemoveLocation" message="tns:ILocationService_RemoveLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/RemoveLocationResponse" message="tns:ILocationService_RemoveLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/RemoveRegion" message="tns:ILocationService_RemoveRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/RemoveRegionResponse" message="tns:ILocationService_RemoveRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/UpdateLocation" message="tns:ILocationService_UpdateLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/UpdateLocationResponse" message="tns:ILocationService_UpdateLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/UpdateRegion" message="tns:ILocationService_UpdateRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/UpdateRegionResponse" message="tns:ILocationService_UpdateRegion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocationService" type="tns:ILocationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/AddLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRegion">
      <soap:operation soapAction="http://tempuri.org/ILocationService/AddRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/ListLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRegion">
      <soap:operation soapAction="http://tempuri.org/ILocationService/ListRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/RemoveLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRegion">
      <soap:operation soapAction="http://tempuri.org/ILocationService/RemoveRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/UpdateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegion">
      <soap:operation soapAction="http://tempuri.org/ILocationService/UpdateRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="BasicHttpBinding_ILocationService" binding="tns:BasicHttpBinding_ILocationService">
      <soap:address location="http://localhost:3002/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>